Email Specialist.json
{
  "name": "Email Specialist",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "task"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        -48
      ],
      "id": "c9635cf4-0e34-4449-89b4-251d56d0c502",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a 3-email welcome/nurture sequence for: {{ $json.task }}. Label each email Subject + Body. Return only the final emails, no introductions or notes.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -224,
        -48
      ],
      "id": "3989211f-e90d-4cb4-b984-01142a37e3d9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ],
      "id": "cb0b0905-0642-481e-a84b-3ddd1e62abf9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "00tCPyQbKdOPN088",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f74e6b39-2b07-4936-a102-0d1f0c529c73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "087b2d3539d20804d4c7932c4b976f96aa8dc160a82589cc8d65412bf4564661"
  },
  "nodeGroups": [],
  "id": "9js2KtXCSlSVJmuL",
  "tags": []
}