Social Media Manager.json
{
  "name": "Social Media Manager",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "task"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -80
      ],
      "id": "7759fad7-110a-43e4-92e4-e8a2726d4c12",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a Twitter/X thread (5 tweets) and 2 LinkedIn posts for: {{ $json.task }}. Return only the final posts, no introductions or notes.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        -48
      ],
      "id": "5ee4b874-843c-4e65-b4c4-a75343db2a20",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ],
      "id": "9de9371a-110e-4039-b1c2-c3f5386d1d7d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "00tCPyQbKdOPN088",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9e29f07d-f4a2-427e-b824-286101603eb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "087b2d3539d20804d4c7932c4b976f96aa8dc160a82589cc8d65412bf4564661"
  },
  "nodeGroups": [],
  "id": "fiX2nKkIc0yGncdc",
  "tags": []
}